.cslpr__slider-wrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  margin: 40px auto;
}

.cslpr__slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.cslpr__slide {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
}

.cslpr__slide-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.cslpr__slide-title {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
